.form-control {
    display: block;

    &.error {
        span.error {
            display: block;
        }
    }

    > label {
        display: block;
        font-size: 12px;
        font-weight: bold;
        color: #5e5e5e;
        margin-bottom: 7px;
    }

    > i {
        display: block;
        color: #9c9c9c;
        font-weight: normal;
        font-size: 12px;
        margin-bottom: 7px;
        line-height: 1.2;
    }

    > input {
        outline: 0;
        border-radius: 4px;
        padding: 5px 10px;
        font-size: 13px;
        background: #fff;
        border: 1px solid #cfd7e6;
        box-shadow: inset 0 1px 2px 0 rgba(207,215,230,0.4);
        box-sizing: border-box;
        width: 100%;
    }

    span.error {
        display: none;
        display: block;
        margin: 5px 0 10px 0;
        color: #c53640;
        font-size: 12px;
    }
}


button.general {
    padding: 10px 20px;
    border-radius: 5px;
    background: #00c58e;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    box-sizing: border-box;
    border: none;
    outline: none;
    cursor: pointer;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.06);
    cursor: pointer !important;

    &:hover {
        background: #00a678;
    }

    &.warn {
        background: #c5892f !important;
        cursor: default;
    }
}
.mx-btn-icon-double-right,
.mx-btn-icon-double-left {
    display: none !important;
}

.mx-btn-current-year {
    pointer-events: none !important;
}