<template>
	<div>
		<div id="head-container" :class="{complete}">
			<div id="balloon"></div>
			<img id="head-container--img" src="/images/bg.png"/>
			<div class="cloud" id="cloud-left"></div>
			<div class="cloud" id="cloud-right"></div>
		</div>
		
		<img id="flight-slogan" src="/images/slogan_header.png" alt="butterflyballons when do you want to fly?">
		
		<div id="input-area">
			<span id="calendar-icon"></span>
			<section>
				<date-picker @open="onOpen" @close="onClose" :lang="{formatLocale: {firstDayOfWeek: 1}}" v-model="date" :disabled-date="minDate" valueType="DD-MM-YYYY" title-format="DD-MM-YYYY" placeholder="Select Reservation Date" :clearable="false"></date-picker>
				<!--<datetime v-model="date" :auto="true" title="Reservation Date" :min-datetime='minDate' format="DDD" :weekStart="1" placeholder="Select Reservation Date"/>-->
			</section>
		</div>
		
		<button id="book-now" @click="bookNow">Book Now</button>
	</div>
</template>

<script>
  // import {Settings} from 'luxon'
  // import {Datetime} from 'vue-datetime'

  import DatePicker from 'vue2-datepicker';
  import 'vue2-datepicker/index.css';

  // Settings.defaultLocale = 'en'

  export default {
    name: 'AnimationHeader',
    components: {DatePicker},
    data() {
      return {
        complete: false,
        date_: null,
        dateStr: null,
      }
    },
    computed: {
      date: {
        get: function () {
          return this.date_
        },
        set: function (date) {
          if (!date) return
          let d = new Date(date)
          let month = '' + (d.getMonth() + 1)
          let day = '' + d.getDate()
          let year = d.getFullYear()
          if (month.length < 2) month = '0' + month;
          if (day.length < 2) day = '0' + day;
          
          this.dateStr = [year, month, day].join('-')

          this.date_ = date
        }
      }
    },
    mounted() {
      setTimeout(() => this.complete = true, 0)
    },
	methods: {
      bookNow() {
        if (this.dateStr) this.$emit('selected', this.date.split('-').reverse().join('-'))
	  },
      minDate(date) {
        const today = new Date();
        today.setDate(today.getDate() + 1);
        today.setHours(0, 0, 0, 0);

        return date < today
      },
      onOpen() {
          console.log('open');
          try {
              Tawk_API.hideWidget();
          } catch {}
      },
      onClose() {
          console.log('clsoe');
          try {
              Tawk_API.showWidget();
          } catch {}
      }
	}
  }
</script>

<style lang="scss">
	body, html {
		padding: 0;
		margin: 0;
	}

    @media only screen and (max-width: 767px) {
        .mx-datepicker-main {
            left: 0 !important;
            // right: 0 !important;
            width: 100% !important;
            bottom: 0 !important;
            top: auto !important;
            position: fixed !important;

            .mx-calendar {
                width: 100% !important;
            }
        }
    }
	
	.mx-datepicker {
		width: 100% !important;
		height: 38px;
		
		i {
			display: none;
		}
	}
	
	.mx-table-date td, .mx-table-date th {
		font-size: 14px;
		font-weight: bold;
	}
	
	@keyframes fly {
		0% {
			transform: translate(-50%, 0);
		}
		25% {
			transform: translate(-55%, -12px);
		}
		75% {
			transform: translate(-45%, -12px);
		}
		100% {
			transform: translate(-50%, 0);
		}
	}
	
	#flight-slogan {
		position: absolute;
		top: 280px;
		left: 50%;
		transform: translateX(-50%);
		user-select: none;
		pointer-events: none;
	}
	
	#book-now {
		width: 150px;
		display: inline-block;
		position: absolute;
		top: 410px;
		left: 50%;
		transform: translateX(-50%);
		background: #06f;
		color: #fff;
		box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
		border-radius: 3px;
		padding: 10px 15px;
		font-size: 1rem;
		border: none;
		cursor: pointer;
		font-weight: bold;
		outline: none;
		border-radius: 100px;
		
		&::before {
			animation: pulse 2s ease infinite;
			background: rgba(44, 77, 175, 0.8);
			border-radius: 100px;
			position: absolute;
			content: "";
			z-index: -1;
			bottom: 0;
			right: 0;
			left: 0;
			top: 0
		}
		
		&:hover {
			background: #0059de;
		}
	}
	
	@keyframes pulse {
		0% {
			transform: scale(1)
		}
		
		50% {
			opacity: 0.2
		}
		
		100% {
			transform: scale(1.2, 1.4);
			opacity: 0
		}
	}
	
	#input-area {
		position: absolute;
		width: 100%;
		max-width: 295px;
		top: 340px;
		height: 40px;
		background: white;
		left: 50%;
		transform: translateX(-50%);
		border-radius: 7px;
		border: 1px solid #cfd7e6;
		box-shadow: inset 0 1px 2px 0 rgba(207, 215, 230, .7);
		z-index: 99;
		
		> span#calendar-icon {
			position: absolute;
			left: 6px;
			top: 2px;
			width: 28px;
			height: 32px;
			background: url("/images/calendar.png") no-repeat;
			pointer-events: none;
		}
		
		> section {
			position: relative;
			width: 100%;
			height: 100%;
			
			.vdatetime-overlay {
				display: none;
			}
			
			input {
				border: none;
				background: transparent !important;
				padding: 0;
				font-size: 15px;
				padding: 8px 20px 8px 45px;
				box-sizing: border-box;
				width: 100%;
				color: #5c5c5c;
				font-weight: 700;
				cursor: pointer;
			}
		}
	}
	
	#head-container {
		width: 100%;
		height: 500px;
		position: relative;
		overflow: hidden;
		background: url("/images/sky.jpg") no-repeat 50% 50%;
		background-size: cover;
		
		&:after {
			background: linear-gradient(to right, #9E7CC1, #8ECDEA);
			content: '';
			width: 100%;
			position: absolute;
			bottom: 0px;
			height: 3px;
			left: 0;
		}
		
		&.complete {
			#head-container--img {
				transform: translateX(-50%) !important;
				bottom: -100px;
			}
			
			#cloud-left {
				transform: translateX(-100%);
				left: 0px;
			}
			
			#cloud-right {
				transform: rotateY(-180deg) translateX(-100%);
				right: 0px;
			}
			
			@media screen and (min-width: 766px) {
				
				#cloud-left {
					left: 400px;
				}
				#cloud-right {
					right: 400px;
				}
				
			}
			
			#balloon {
				bottom: 205px;
				width: 170px !important;
				animation-name: fly;
				animation-duration: 10s;
				animation-iteration-count: infinite;
			}
		}
		
		#balloon {
			position: absolute;
			width: 340px;
			height: 300px;
			background: url("/images/balloon.png") no-repeat 50% 100%;
			background-size: contain;
			left: 50%;
			bottom: -200px;
			transform: translateX(-50%);
			transition: all ease 4s;
			pointer-events: none;
			
			&:after {
				content: '';
				position: absolute;
				-webkit-transform: translateX(-50%);
				width: 13px;
				height: 20px;
				background: url(/images/fire.gif);
				bottom: 14px;
				left: 50%;
				transform: translateX(-9px);
				background-size: contain;
			}
		}
		
		.cloud {
			position: absolute;
			width: 1000px;
			height: 500px;
			background: url("/images/cloud.png") no-repeat 50% 50%;
			background-size: cover;
			transition: all ease 3s;
			pointer-events: none;
		}
		
		#cloud-left {
			left: 0;
			top: 0;
		}
		
		#cloud-right {
			right: 0;
			top: 0;
			transform: rotateY(-180deg);
		}
		
		#head-container--img {
			transition: all ease 2s;
			width: auto;
			height: auto;
			position: absolute;
			bottom: 0;
			left: 50%;
			transition: all ease 2s;
			transform: translateX(-50%);
			pointer-events: none;
		}
	}

</style>
