<template>
	<div id="site-footer">
		<div>
			<div class="footer-column">
				<div><fa icon="map-marker-alt" /> Aydinli-Orta Mah. Uzundere Cad. No:29 50180 Goreme, Cappadocia</div>
				<div class="social-icons">
					<div class="social-icon"><a href="https://www.facebook.com/butterflyballoonscappadocia/" target="_blank"><fa :icon="['fab','facebook']" /> Facebook</a></div>
					<div class="social-icon"><a href="https://www.instagram.com/Butterflyballoons/" target="_blank"><fa :icon="['fab','instagram']" /> Instagram</a></div>
					<div class="social-icon"><a href="https://www.tripadvisor.com.tr/Attraction_Review-g297983-d1839168-Reviews-Butterfly_Balloons-Goreme_Cappadocia.html#REVIEWS" target="_blank"><fa :icon="['fab','tripadvisor']" /> Tripadvisor</a></div>
				</div>
			</div>
			<div class="footer-column">
				<div><fa icon="phone-alt" /> +90 384 271 30 10</div>
				<div><fa icon="fax" /> +90 384 271 30 09</div>
				<div><fa icon="envelope" /> fly@butterflyballoons.com</div>
			</div>
		</div>
	</div>
</template>

<script>
  export default {
    name: 'Footer'
  }
</script>

<style lang="scss">
	#site-footer {
		background-color: #303c42;
		color: #FFF;
		padding: 25px 15px;
		position: relative;
		z-index: 99;
		margin-top: 50px;
		box-sizing: border-box;
		
		.social-icons {
			display: flex;
			overflow: hidden;
			flex-wrap: wrap;
		}
		
		.social-icon {
			flex: 1;
			
			a {
				font-size: 13px;
				color: #fff;
				cursor: pointer;
				padding: 4px 5px;
				display: flex;
				align-items: center;
				
				svg {
					font-size: 24px;
					margin-right: 7px;
				}
			}
		}
		
		> div {
			max-width: 860px;
			margin: auto;
			display: flex;
			align-items: flex-start;
			flex-wrap: wrap;
			
			.footer-column {
				flex: 1 1 256px;
				
				> div {
					padding: 5px;
					font-size: 13px;
				}
			}
		}
	}
</style>
