<template>
	<div class="sub-container"><slot></slot></div>
</template>

<script>
  export default {
    name: 'SubContent'
  }
</script>

<style lang="scss">
	.sub-container {
		display: block;
		width: 100%;
		max-width: 890px;
		margin: auto;
		box-sizing: border-box;
		min-height: calc(100vh - 55px - 304px);
		padding: 50px 15px 0 15px;
		
		@media screen and (min-width: 350px) {
			min-height: calc(100vh - 55px - 272px);
		}
		@media screen and (min-width: 471px) {
			min-height: calc(100vh - 55px - 254px);
		}
		@media screen and (min-width: 542px) {
			min-height: calc(100vh - 105px - 170px);
		}
		@media screen and (min-width: 671px) {
			min-height: calc(100vh - 105px - 138px);
		}
		
		img {
			max-width: 100%;
		}
		
		color: #333;
		font-size: 15px;
		line-height: 1.6;
	}
</style>
