<template>
	<div>
		<Menu standalone />
		<div id="error-center">
			<div>
				<div id="error-icon"><fa icon="exclamation-circle" /></div>
				<h1 v-if="error.statusCode === 404">Page not found</h1>
				<h1 v-else>An error occurred</h1>
				<nuxt-link to="/">Go to Home Page</nuxt-link>
			</div>
		</div>
		<Footer />
	</div>
</template>

<script>
  import Menu from "../components/Menu";
  import Footer from "../components/Footer";
  export default {
    name: 'ErrorLayout',
    components: {Footer, Menu},
    head: {
      bodyAttrs: {
        class: 'error-layout'
      }
    },
    props: ['error'],
  }
</script>

<style lang="scss">
	body.error-layout {
		/*background: whitesmoke !important;*/
		min-height: 100% !important;
		
		#site-footer {
			position: fixed;
			left: 0;
			bottom: 0;
			width: 100%;
		}
	}
	
	#error-center {
		padding: 100px 20px;
		text-align: center;
		color: #797979;
		
		h1 {
			margin-bottom: 50px;
		}
		
		a {
			cursor: pointer;
			color: #0059de;
			font-weight: bold;
		}
		
		#error-icon {
			font-size: 48px;
			opacity: 0.3;
		}
	}
</style>
